[submodule "DiligentCore"]
	path = DiligentCore
	url = git@github.com:hzsoft312/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = git@github.com:hzsoft312/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = git@github.com:hzsoft312/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = git@github.com:hzsoft312/DiligentFX.git
